html {
  font-size: 18px;
}

body {
  font-weight: 400;
  line-height: 150%;

  /* Grid Settings */
  background-image: linear-gradient(#0ff 1px, transparent 1px);
  background-size: auto 1.5em;
}

/*****************
  Typography
*******************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quintessential', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/*******************************
  Header Math for BaselineGrid
 *******************************/

h1 {
  font-size: 7.993rem; /* 143.87px */
  line-height: 9rem; /* 162px */
  margin: 3rem auto;
}

h2 {
  font-size: 5.653rem;  /* 101.75 */
  line-height: 6rem; /* 108px */
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 3.998rem;  /* 71.96px */
  line-height: 4.5rem; /* 72px */
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 2.827rem;  /* 50.89px */
  line-height: 3rem; /* 54px */
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.999rem;  /* 31.99 */
  line-height: 3rem; /* 48px */
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.414rem;  /* 22.62px */
  line-height: 1.5rem; /* 24px */
}

/***************
  HEADER STYLES
 ****************/

.header-content {
}

/*********************
  MAIN CONTENT STYLES
 *********************/

section {
  margin-bottom: 4.5rem;
}

p {
  max-width: 45ch;
  margin-bottom: 1.5rem;
}

.about-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.about-container img {
  width: 50ch;
}

.origin-content {
  display: flex;
  justify-content: space-between;
}

.appearance-container {
  max-width: 1200px;
  margin: 0 auto;
}

.appearance-content div{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.appearance-content img {
  height: 216px;
}

.age-personality-container {
  display: flex;
  justify-content: space-between;
}



.abilities-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.abilities-col-container {
  column-count: 2;
  column-gap: 3rem;
}
.abilities-container p {
  max-width: 48ch;
}


.abilities-quote {
  width: 700px;
  margin: 0 auto;
  font-style: italic;
  margin-bottom: 4.5rem;
}

.author-name {
  font-weight: 500;
}

.cultural-container {
  max-width: 1200px;
  margin: 0 auto 4.5rem auto;
}
.cultural-content{
  max-width: 100ch;
  column-count: 2;
  column-gap: 3rem
}

.family-flex-container {
  display: flex;
  justify-content: space-between;
}

.wendy-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wendy-card img {
  height: 24rem;
}

.family-flex-container p {
  max-width: 45ch;
}

.darlings-row{
  display: flex;
  justify-content: space-between;
}

.captain-hook {
  display: flex;
  justify-content: center;
}

.captain-hook >div {
  margin-right: 30px;
}

.captain-hook img {
  height: 30rem;
}

.smee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50ch;
  margin: 0 auto;
}

.smee-card h4 {
  margin-bottom: 1.5rem;
}

.smee-card img {
  margin-bottom: 1.5rem;
}

/* Utility Class */

.flex-row {
  display: flex;
  justify-content: space-between;
}
.center {
  max-width: 1200px;
  margin: 0 auto;
}

.center-text {
  text-align: center;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}