/* 
 *  I use a 1200px fixed-width container, but it is defined as a
 *  utility class so it's hidden far far below (at the end of the doc).
 */

html {
  /* Only place I use PX other than borders/Box Shadow */
  font-size: 18px;
}

body {
  font-weight: 400;
  line-height: 150%;
}

/*****************
  Typography
*******************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quintessential', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/*******************************
  Header Math for BaselineGrid
 *******************************/

h1 {
  font-size: 7.993rem; /* 143.87px */
  line-height: 9rem; /* 162px */
  margin: 0 auto 6rem 0;
  padding-top: 6rem;
}

h2 {
  font-size: 5.653rem;  /* 101.75 */
  line-height: 6rem; /* 108px */
  margin-bottom: 3rem;
}

h3 {
  font-size: 3.998rem;  /* 71.96px */
  line-height: 4.5rem; /* 72px */
  margin-bottom: 3rem;
}

h4 {
  font-size: 2.827rem;  /* 50.89px */
  line-height: 3rem; /* 54px */
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.999rem;  /* 31.99 */
  line-height: 3rem; /* 48px */
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.414rem;  /* 22.62px */
  line-height: 1.5rem; /* 24px */
}

/***************
  HEADER STYLES
 ****************/
header {
  background: linear-gradient(#242038 20%, #1FA1FF 70%, #fff);
  color: white;
  margin-bottom: 6rem;
}

/*********************
  MAIN CONTENT STYLES
 *********************/

section {
  /* margin-bottom: 4.5rem; */
  padding-bottom: 4.5rem;
}

p {
  max-width: 45ch;
  margin-bottom: 1.5rem;
}

.underline {
  border-bottom: 3px solid rgba(17, 17, 17, 0.836);
}

.about-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  height: 30rem;
}

.about-container img {
  height: 21rem;
  margin-right: 8rem;
}

.origin-content {
  display: flex;
  justify-content: space-between;
}

.appearance-container {
  background: linear-gradient(#fff, #2dac5f);
  padding-top: 3rem;
}

.appearance-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.appearance-card img {
  /* max-width: 27.7rem; */
  min-height: 21rem;
  /* border-radius: 5%; */
  border: 1px grey solid;
  box-shadow:0 0 8px 0 rgb(192, 192, 192);
}

.lady-pan-img {
  border-radius: 5%;
  margin-right: 8rem;
}

.disney-pan-img{
  height: 30rem;
  width: 33rem;
  border-radius: 10%;
}

.age-personality-container{
  padding: 4.5rem 0 6rem 0;
  background: #2dac5f;
  color: rgb(17, 17, 17);
}

.age-personality-container p {
  color: rgb(255, 255, 255);
}

.age-personality-content {
  display: flex;
  justify-content: space-between;
}

.age-personality-content section {
  padding: 1.5rem;
  border-radius: .333333333rem;
}

.abilities-section {
  background: #2dac5f;
  color: rgb(236, 233, 233);
}

.abilities-section h3 {
  color: rgb(17, 17, 17);
  margin-bottom: 3rem;
}

.abilities-container {
  padding-top: 4.5rem;
  padding-bottom: 9rem;
}

.abilities-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.abilities-col-container {
  column-count: 2;
  column-gap: 3rem;
}

.abilities-container p {
  max-width: 48ch;
}

.abilities-quote {
  color: white;
  width: 38.888888rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-bottom: 4.5rem;
  background: #159b4a;
  padding: 1.5rem;
  border-radius: .333333rem;
}

.author-name {
  font-weight: 500;
}

.cultural-container {
  background: linear-gradient(#2dac5f, #fff 85%);
}

.cultural-content{
  max-width: 100ch;
  column-count: 2;
  column-gap: 3rem;
  padding-bottom: 4.5rem;
}

.relationships-section {
  margin-bottom: 0;
  padding-bottom: 0;
}


.maimie-card {
  margin-bottom: 4.5rem;
}

.maimie-img {
  height: 15rem;
  margin-right: 17rem;
}

.family-container {
  margin-bottom: 5rem;
}
.family-flex-container {
  display: flex;
  justify-content: space-between;
}

.family-flex-container p {
  max-width: 45ch;
}

.wendy-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wendy-card img {
  height: 30rem;
  margin-right: 10rem;
}

.darlings-row{
  display: flex;
  justify-content: space-between;
}

.darlings-bg {
  border-radius: .3333333rem;
  padding: 3rem;
  background:rgb(211, 235, 240);
}


.adversaries-container{
  background: linear-gradient(#fff, #1FA1FF, #242038);
}

.captain-hook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.captain-hook >div {
  margin-right: 1.6666666rem;
}

.captain-hook img {
  height: 30rem;
  margin-right: 8rem;
  border-radius: .16666666rem;
}

.smee-card {
  margin: 0 auto;
  padding-bottom: 9rem;
}

.smee-card h4 {
  margin-bottom: 1.5rem;
}

.smee-card p {
  color: black;
}

.smee-card img {
  margin-right: 8rem;
}


.smee-card .flex-row {
  align-items: center;
}


/* Utility Class */

.flex-row {
  display: flex;
  justify-content: space-between;
}
.center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}