  body {
    background-color: #fbfbfb;
  }

  article {
    width: 960px;
    margin: 0 auto;
  }

  img {
    float: left;
    margin-right: 1em;
  }

  footer {
    font-style: italic;
    color: #777;
  }

  /*********************** Your code goes here ***********************/
  
  body {
    font-size: 112.5%; /* Defaults to 18px */
    line-height: 1.5;

    /* Grid Settings */
    background-image: linear-gradient(#0ff 1px, transparent 1px);
    background-size: auto 1.5em;
  
  }

  article {
    max-width: 30em;
    margin: 0 auto;
  }
 
  h1 {
    font-size: 5.61em; /* 100.98 px */
    /* line-height: 1.069518716em; 108 px or 81 */
    line-height: .802139037433em; /*108 px or 81*/
    margin-bottom: .2673796791em;
  }

  h2 {
    font-size: 4.20888888889em; /* 75.76px */
    line-height: 1.0691657866em;
    margin-bottom: .3563885955em;/* 27 */
  }

  h3 {
    font-size: 3.157222222em; /* 56.83px  */
    line-height: .950202357909em;  /* 54 px */
    margin-bottom: 0.4751011em; /* 27 px */
  }
 
  h4 {  
    font-size: 2.369em; /* 42.63 */
    line-height: 1.2667135819em; /* 54px */
    margin-bottom: .6333567909em; /* 27 px */
  }

  h5 {
    font-size: 1.777em; /* 31.98 px */
    line-height: 1.68855534em; /* 54px */
    margin-bottom: 0.844277673em; /* 27 px */
  }

  h6 {
    font-size: 1.333em; /* 23.99px */
    line-height: 1.1254689em; /* 27px */
  }

  p{
    /* font-size: 1em; 18px */
    line-height: 1.5em; /* 27px */
    margin-bottom: 1.5em;
  }

  ul {
    font-size: 0.75em;
    line-height: 2em;
    margin-bottom: 2em;
  }
  /*
  h4 { /*31.98
    font-size: 40.5px;
    line-height: 54px;
  }

  h5 { 23.99
    font-size: 27px;
    line-height: 27px;
  }

  h6, footer{ 13.5
    font-size: 12px;
    line-height: 27px;
  }

  p {
    margin-bottom: 27px;
    max-width:540px;
  }
  
  ul {
    margin-bottom: 27px;
  }

  img {
    margin-right: 18px;
    margin-bottom: 18px;
  } */