/* 	List of Kickass Changes
		Changed Line Height to 1.5 (improves Legibility).
		Use of Color to highlight important sections.
		Use of sans-serif fonts for titles/headers
		Serif fonts for Content


/* Font Reference
	font-family: 'Merriweather', serif;
	font-family: 'Nunito', sans-serif;
--------------------------*/

/* Box Model Fix
-------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article {
	width: 960px;
	margin: 0 auto;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FEDF64;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 42px;
	padding: 20px;
}


.author {
	font-size: 24px;
}

.intro {
	background: #f1f1f1;
	display: flex;
	align-items: center;
	margin-top: 10px;
	padding: 5px;
}

.intro figcaption {
	font-size: 10px;
	text-align: center;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	font-weight: 600;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 500;
}