/* 	List of Kickass Changes
		Changed Line Height to 1.5 (improves Legibility).
		Use of Color to highlight important sections.
		Increased size of Header elements to develop visual hierarchy.
		
		Use of sans-serif fonts for titles/headers
		Use of Serif fonts for Article Content: 


/* Font Reference
	font-family: 'Merriweather', serif;
	font-family: 'Nunito', sans-serif;
--------------------------*/

/* Box Model Fix
-------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article {
	width: 960px;
	margin: 0 auto;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
}

.main-content {
	margin: 0 auto;
	width: 700px;
}

p {
	/* padding: 12px 0px; */
	font-size: 16px;
	max-width: 700px;
}

header {
	/* justify-content: space-between;
	align-items: center; */
	background: #FEDF64;
	/* text-align: center; */
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 42px;
	padding: 20px;
	/* border: 1px #FEDF64 solid; */
	border-radius: 10px;
}

.author {
	display: inline-block;
	border-bottom: 2px solid currentColor;
	font-size: 24px;
}

.intro {
	display: flex;
	align-items: center;
	margin-top: 10px;
	padding: 5px;
}

.intro img {
	max-width: 300px;
	padding: 10px;
}


h2 {
	display: inline-block;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	font-weight: 600;
	padding-top: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid black;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 600;
	padding: .5rem 0;
}

figcaption {
	font-size: 12px;
	text-align: center;
}

ul {
	margin: 1rem auto;
	max-width: 80%;
	font-size: 16px;
	padding: 1rem;
	background: linear-gradient(#FEDF64, rgb(236, 215, 132));
	border-radius: 10px;
}

li {
	margin: .35rem 0 .35rem 1rem;
}

em {
	font-weight: 600;
}

.conclusion-images {
	display: flex;
	justify-content: space-between;
}

.conclusion-img {
	margin-right: 10px;
}

.conclusion-images figcaption {
	/* max-width: 400px; */
}

.conclusion-img:last-of-type {
}