body {
    text-align: left;
    line-height: 1.5;
    font-size: 100%;
}

header,
section {
    width: 700px;
    margin: 0 auto;
}

header {
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    font-size: 48px;
    margin: 24px 0;
}

section {
    display: flex;
}
h2 {
    font-size: 32px;
}

.content{
    padding-top: 1rem;
    padding-right: 1rem;
}

/* *********** form ************ */
form {
    display: flex;
    justify-content: center;
    /* width: 562px; */
    /* margin: 48px; */
    padding: 1rem .75rem;
    margin-top: 2px;
    /* line-height: 2; */
}

legend {
    font-size: 24px;
    line-height: 2;
}


input, label{
    display: block;
    line-height: 1.5;
}

.submit-container{
    padding: 0;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    font-size: .85rem;
}
button {
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

/* ************** footer *************** */
footer {
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    margin-right: auto;
}

footer li {
    display: inline-block;
    margin-top: 4px;
    margin-right: 8px;
}

footer li:last-of-type {
    margin-right: 10px;
}
